.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 1em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.users-header {
  border-bottom: 2px #09d3ab73 solid;
}
h2 {
  padding: 0 0.5em;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}
