.user-item {
  padding: 1em;
  flex: 1;
  margin: 0.5em;
  height: 100px;
}

.users-container {
  display: flex;

  align-content: flex-start;
  flex: 2;
  flex-wrap: wrap;
}

.right-panel {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.user-infocus {
  flex: 2;
}

.widget-style {
  background-color: #393e49;
  padding: 1em;
  margin: 0.5em;
}

.recent-infractions {
  flex: 1;
  height: 5vh;
}

.recent-infractions-messages {
  background-color: whitesmoke;
  padding: 0.5em;
  color: black;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 0.7em;

  height: 80%;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.user-messages {
  margin: 0.5em;
  background-color: whitesmoke;
  padding: 0.5em;
  color: black;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 0.7em;
  height: 40vh;

  display: flex;
  overflow: scroll;
  flex-direction: column;
}
